﻿@{
    ViewData["Title"] = "Home Page";

}
<style>
    span {
        display: inline-block;
        padding: 0.3em;
        margin: 0.3em;
        
    }
    label{
        color: lightslategrey;
        font-size:20px;
        font-family: Arial;
    }
    
</style>

<div class="text-center">
    <div class="row ">
        <div class="col-md-12 chart-container">
            <h2>Get Monthly Premium</h2>
            <br />
        </div>
        <div class="col-md-12 chart-container">

            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <input type="text" name="name" id="name" placeholder="Name" />
                <span class="e-name" style="display:none">Please Enter Name</span>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Date Of Birth</label>
                <input type="date" name="dob" id="dob" placeholder="DD/MM/YYYY" style="width:180px" />
                <span class="e-date" style="display:none">Please Enter Date</span>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Age</label>
                <input type="text" name="age" id="age" placeholder="Age" />
                <span class="e-age" style="display:none">Please Enter Age</span>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Death Amount Insured</label>
                <input type="text" name="dai" id="dai" placeholder="eg: 500000" />
                <span class="e-insure" style="display:none">Please Enter Amount</span>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Occupation</label>
                <select id="ddloccupation" style="width: 180px;">
                    <option value="0">Select Occupation</option>
                </select>
                <span class="e-occu" style="display:none">Please Enter Occupation</span>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Month Premium </label>
                $<input type="text" name="monthlypremium" id="monthlypremium" readonly="readonly" />
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $.get('../Home/GetOccupationList', function (Occlov) {
                
                $.each(Occlov, function (i, Occlov) {
                    debugger;
                    $("#ddloccupation").append('<option value="' + Occlov.value + '">' +
                        Occlov.text + '</option>');

                });
            });

            $("#ddloccupation").change(function () {
                
                if ($("select#ddloccupation option:selected").val() != 0 && $($("#dai").val() != "") && $("#age").val() != "" && $("#name").val()!="" && $("#dob").val()!="") {
                    $.get('../Home/GetMontlyPremium', { DeathCoverAmount: $("#dai").val(), Occupation: $("#ddloccupation").val(), Age: $("#age").val() }, function (Mpremium) {
                        
                        $.each(Mpremium, function (i, Mpremium) {
                            debugger;
                            $("#monthlypremium").val(Mpremium.text);

                        });
                    });
                }
                else {
                    alert("Please insert all the fields");
                    
                    $("#ddloccupation").reset();
                }

            });

            // valation for all mandatory fields
            $("input[name = 'name']").focusout(function () {
                
                if ($("input[name = 'name']").val() == "") {
                    $("input[name = 'name']").css('border', 'solid 2px red');
                    $(".e-name").show().css('color', 'red');
                    isValid = false;

                } 
            });
            $("input[name = 'dob']").focusout(function () {
                if ($("input[name = 'dob']").val() == "") {
                    $("input[name = 'dob']").css('border', 'solid 2px red');
                    $(".e-date").show().css('color', 'red');
                    isValid = false;

                }
            });
            $("input[name = 'age']").focusout(function () {
                if ($("input[name = 'age']").val() == "") {
                    $("input[name = 'age']").css('border', 'solid 2px red');
                    $(".e-age").show().css('color', 'red');
                    isValid = false;

                }
                if (($("input[name = 'age']").val() != "")) {
                    debugger;
                    var dob = $("input[name = 'dob']").val();
                    var today = new Date();
                    var age = today.getFullYear() ;
                    
                }
            });
            $("input[name = 'dai']").focusout(function () {
                if ($("input[name = 'dai']").val() == "") {
                    $("input[name = 'dai']").css('border', 'solid 2px red');
                    $(".e-insure").show().css('color', 'red');
                    isValid = false;

                }
            });
            $("input[name = 'dai']").focusout(function () {
                if ($("input[name = 'dai']").val() == "") {
                    $("input[name = 'dai']").css('border', 'solid 2px red');
                    $(".e-insure").show().css('color', 'red');
                    isValid = false;

                }
            });

        });
       
    </script>
}



